In [1]:
import pandas as pd
import altair as alt
import plotly.express as px
import plotly

In [4]:
df = pd.read_csv('./fifa.csv')
df.head(10)

,id,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,...,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,1987-06-24,31,170.18,72.1,"CF,RW,ST",Argentina,94,...,64+2,61+2,61+2,61+2,64+2,59+2,48+2,48+2,48+2,59+2
1,190460,C. Eriksen,Christian Dannemann Eriksen,1992-02-14,27,154.94,76.2,"CAM,RM,CM",Denmark,88,...,71+3,71+3,71+3,71+3,71+3,66+3,57+3,57+3,57+3,66+3
2,195864,P. Pogba,Paul Pogba,1993-03-15,25,190.50,83.9,"CM,CAM",France,88,...,76+3,77+3,77+3,77+3,76+3,74+3,72+3,72+3,72+3,74+3
3,198219,L. Insigne,Lorenzo Insigne,1991-06-04,27,162.56,59.0,"LW,ST",Italy,88,...,63+3,58+3,58+3,58+3,63+3,58+3,44+3,44+3,44+3,58+3
4,201024,K. Koulibaly,Kalidou Koulibaly,1991-06-20,27,187.96,88.9,CB,Senegal,88,...,73+3,77+3,77+3,77+3,73+3,76+3,85+3,85+3,85+3,76+3
5,203376,V. van Dijk,Virgil van Dijk,1991-07-08,27,193.04,92.1,CB,Netherlands,88,...,78+3,82+3,82+3,82+3,78+3,80+3,86+3,86+3,86+3,80+3
6,231747,K. Mbappé,Kylian Mbappé,1998-12-20,20,152.40,73.0,"RW,ST,RM",France,88,...,66+3,62+3,62+3,62+3,66+3,62+3,54+3,54+3,54+3,62+3
7,153079,S. Agüero,Sergio Leonel Agüero del Castillo,1988-06-02,30,172.72,69.9,ST,Argentina,89,...,58+3,56+3,56+3,56+3,58+3,53+3,47+3,47+3,47+3,53+3
8,167495,M. Neuer,Manuel Neuer,1986-03-27,32,193.04,92.1,GK,Germany,89,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,179813,E. Cavani,Edinson Roberto Cavani Gómez,1987-02-14,32,185.42,77.1,ST,Uruguay,89,...,67+3,65+3,65+3,65+3,67+3,65+3,63+3,63+3,63+3,65+3